<!DOCTYPE html>

{% load staticfiles %}

<html>

	<head>
		<title>Rango says here is the about page</title>
	</head>

	<body>
		<h1>Rango says here is the about page!...</h1>

		<div>
			here is the about page!<br/>
			<strong>{{ boldmessage }}</strong> <br />
			This tutorial has been put together by Mihaela Petrova.
    		</div>
    
    		<div>
    			<a href="/rango/">Index</a><br />
    			<img src = "{{ MEDIA_URL}}cat.jpg"
                    		alt = "Picture of a Cat" />
    		</div>
	</body>

</html>